<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header><a href=<%= header1 %>>Home</a><%= header2 %><a href=<%= header3 %>>Youtube</a></header>
    <br>
    <p><%= lyric %></p>
    <br>
    <img src=<%= pic %>>
    <br><br>
    <p><a href=<%= next %>>Next >></a></p>
  </body>
</html>
